<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page Not Found</title>
    <link rel="stylesheet" href="/static/css/404.css">
    <script>

    </script>
</head>

<body>
    <div class="error-container">
        <h1>404</h1>
        <p class="espace">
            Oops!
            <br>
            There's NOTHING here
        </p>
        <a href="/">
            Go Back Home
        </a>
    </div>
</body>

</html>